.about-me-title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-me-title h1{
    font-size: 65px;
    font-weight: 300;
}

.scroll-down-alert{
  position: absolute;
  top: 89vh;
  letter-spacing: 2px;
  font-size: 20px;
}


  // about-content-container
  // Container About me 

  .about-content-container{
    padding-top:100px;  
      height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    line-height:2em;
    font-size: 18px;
    flex-direction: column;
  }
  .about-content-container img{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    opacity: .7;
  }

  @media screen and (min-width:900px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
    padding-top:100px;  
      height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
  
    
  }
  .about-content-container p{
    line-height:2em;
    font-size: 20px;
  padding: 25px;
  }
  .about-content-container img{
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }

  }
  @media screen and (min-width:1200px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
   padding-top: 0px;
      height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  .about-content-container p{
    line-height:2em;
    font-size: 25px;
  padding: 25px;
  }
  .about-content-container img{
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }

  }
  @media screen and (min-width:1200px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
   padding-top: 0px;
      height: 100vh;
    padding-left: 25px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  .about-content-container p{
    line-height:2em;
    font-size: 30px;
  padding: 25px;
  }
  .about-content-container img{
    height: 400px;
    width: 400px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }

  }