.about-me-title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-me-title h1{
    font-size: 65px;
    font-weight: 300;
}

.scroll-down-alert{
  position: absolute;
  top: 89vh;
  letter-spacing: 2px;
  font-size: 20px;
}


  // about-content-container
  // Container About me 

  .about-content-container{
    padding-top:100px;  
      height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    line-height:2em;
    font-size: 18px;
    flex-direction: column;
  }
  .about-content-container img{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    opacity: .7;
  }

.skills-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

}

.skill-para{
  line-height:2em;
  font-size: 20px;
padding: 25px;
}
.skills-container h1{
  font-size:35px;
 text-align: center;
 padding-bottom: 5px;
 margin: 0px auto;
 border-bottom: 2px solid black;
 margin-bottom: 50px;
 
}
.skills-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-skills{
  margin:15px 0px;
}
.single-skills i{
  font-size: 40px;
  margin-bottom: 5px;
}
.javascript-icon{
  color: rgb(204, 103, 9);
}

.react-icon{
  color:rgb(0, 140, 255);
}
.node-js-icon{
  color:green;
}
.npm-js-icon{
  color: red;
}
.css-icon{
  color: rgb(45, 98, 214);
}
.html5-icon{
  color: rgb(255, 123, 0);
}
.sass-icon{
  color: rgb(251, 130, 255);
}
.database-icon{
  color: rgb(45, 98, 214);

}
  @media screen and (min-width:900px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
    padding-top:100px;  
      height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
  
    
  }
  .about-content-container p{
    line-height:2em;
    font-size: 20px;
  padding: 25px;
  }
  .about-content-container img{
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
  .skills-container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .skills-container h1{
    font-size:35px;
   text-align: center;
   padding-bottom: 5px;
   margin: 0px auto;
   border-bottom: 2px solid black;
   margin-bottom: 50px;
   
  }
  .skills-list{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
  }
  .single-skills{
    margin:25px 50px;

  }
  .single-skills i{
    font-size: 50px;
    margin-bottom: 15px;
  }
  .single-skills p{
    font-size: 30px;
    margin-bottom: 5px;
  
  }

  .skill-para{
    line-height:2em;
    font-size: 30px;
    padding-bottom: 50px;
    padding-left: 70px;
  }

  }
  @media screen and (min-width:1200px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
   padding-top: 0px;
      height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  .about-content-container p{
    line-height:2em;
    font-size: 25px;
  padding: px;
  }
  .about-content-container img{
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
  .skill-para{
    line-height:2em;
    font-size: 30px;
    padding-bottom: 50px;
    padding-left: 70px;
  }


  }
  @media screen and (min-width:1200px){
    .about-me-title h1{
      font-size: 100px;
  }
  .about-content-container{
   padding-top: 0px;
      height: 100vh;
    padding-left: 25px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  .about-content-container p{
    line-height:2em;
    font-size: 30px;
  padding: 40px;
  }
  .about-content-container img{
    height: 400px;
    width: 400px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }

  }