footer{
    margin-top:50px ;
    bottom: 0px;
    height: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
    display: flex;
    padding-right: 15px;
}
.contact-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}
.contact-infomation{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.contact-infomation a{
    text-decoration: none;
    margin: 2px 0px;
    font-size: 14px;
    color: black;
}
.contact-container p{
    font-size: 14px;
}
.contact-links{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    
}
.contact-links a{
    text-decoration: none;
    margin: 0px 3px;
    font-size: 15px;
    color: black;
}
.updated-date{
    margin: 40px 0px;
    text-align: center;
    font-size: 12px;
}

@media screen and  (min-width: 800px) {
    footer{
        margin-top:50px ;
        bottom: 0px;
        height: 100%;
        padding-left: 50px;
        margin-bottom: 30px;
        display: flex;
        padding-right: 50px;
    }
    footer a{
        cursor: crosshair;
    }
    footer a:hover{
        font-style: oblique;
        text-decoration: underline;
        cursor: crosshair;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: space-between;
    }
    .contact-infomation{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact-infomation a{
        text-decoration: none;
        margin: 2px 0px;
        font-size: 20px;
        color: black;
    }
    .contact-container p{
        font-size: 20px;
    }
    .contact-links{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
    }
    .contact-links a{
        text-decoration: none;
        margin: 0px 5px;
        font-size: 20px;
        color: black;
    }
    .updated-date{
        margin: 40px 0px;
        text-align: center;
        font-size: 12px;
    }
    
}