.port-card{
    height: 650px;
   
    width: 90%;
}
.port-card h3{
    font-weight: 400;
    font-size: 30px;
    margin: 15px 0px;
}
.port-image{
    width: 100%;
    height: 200px;
    margin: 15px 0px;
}
.port-card p{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.port-card a{
   display: block;
   display: flex;
   justify-content: center;
   text-align: center;
    margin: 25px 0px;
    text-decoration: none;
    color: none;
    font-size: 20px;
    color: black;
}
.port-card i{
    margin: 0px 15px;
    font-size: 30px;
    color: rgb(202, 1, 1);
}

