.project-model-container{
    z-index: 100;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
}
.project-model-container h2{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    grid-row: 1;
    grid-column:1/span 8;
    text-align: center;
    margin-top: 25px;
}
.project-model-container img{
height: 100%;
width: 100%;
grid-row: 2/span 2;
grid-column:2/span 6;
box-shadow: 0 4px 20px -6px #222;
margin: auto;
}

.project-model-description{
    font-size: 15px;
    line-height: 25px;
    padding: 35px 40px;
    grid-column:1/span 8;
    grid-row: 4 /span 2;
}
.project-model-container-links{
    grid-column:1/span 8;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.project-model-container-links a{
    display: block;
    color: black;
    background: white;
    border: 2px black solid;
    text-decoration: none;
    font-size: 15px;
    height: 20px;
    padding: 5px;
    border-radius:10px;
}
.project-model-container-links a:hover{
   background: black;
   color: white;
}
.target-to-port{
    display: flex;
    padding-left: 15px;
    margin-left: 10px;
    align-items: center;
    grid-row: 1;
    grid-column: 7/ span 2;
    font-size: 14px;
    text-decoration: none;
    background: black;
    color: white;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 80px;

}
.tech-list{
    grid-column: 1/ span 8;
    grid-row: 7;
}
.tech-list h5{
    font-size: 15px;
    padding-left: 15px;
}
.carousel-tech{
    padding-top: 10px;
    width: 100%;
    height: 70%;
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
   align-items: center;
}
.tech-tools{
  margin: 0px 20px;
  font-size: 15px;
 background: black;
 color: white;
 padding: 8px;
 border-radius: 10px;
}

@media screen and  (min-width: 650px) {
   
    .project-model-container h2{
        font-size: 50px;
    }
    .project-model-container img{
        margin-top: 15px;
        grid-row: 2/span 3;
        grid-column:5/span 4;
       width: 80%;
    }

    .project-model-container-links a{
        font-size: 20px;
        height: 20px;
        padding: 10px;
        border-radius:10px;
    }
    .project-model-description{
        grid-row: 2/ span 3;
        grid-column: 1/ span 4;
        font-size: 20px;
        line-height: 30px;
    }
    .project-model-container-links{
        grid-row: 7;
        grid-column: 1/span 5;
        display: flex;
        justify-content: space-around;
        align-items: center;  
    }
    .tech-list{
        grid-column: 1/ span 4;
        grid-row: 6;
    }
    .target-to-port{
        font-size: 20px;
    }

}
@media screen and  (min-width: 1000px) {
    .project-model-container h2{
        font-size: 70px;
    }
    .project-model-container img{
        grid-row: 2/span 4;
        grid-column:5/span 6;
        height: 80%;
    }
    .project-model-description{
        margin-top: 15px;
        grid-row: 2/ span 3;
        grid-column: 1/ span 4;
        font-size: 25px;
        line-height: 35px;
    }
    .project-model-container-links{
        grid-column:1/span 4;
        grid-row: 7;
        display: flex;
        justify-content: space-around;
        align-items: center;  
    }
    .tech-list{
    grid-column: 1/ span 4;
    grid-row: 6;
   padding-left: 30px;
}
.tech-list h5{
    font-size: 23px;
    padding-left: 15px;
}
.carousel-tech{
padding-top: 10px;
    width: 100%;
    height: 70%;
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
   padding-bottom: 5px;
}
.tech-tools{
 font-size: 15px;
}
.target-to-port{
    font-size: 30px;
}
}
@media screen and  (min-width: 1300px) {
    .project-model-description{
        margin-top:40px;
        grid-row: 2/ span 3;
        grid-column: 1/ span 4;
        font-size: 30px;
        line-height: 50px;
        font-weight: 300;
    }
    .tech-tools{
        font-size: 15px;
    }
    .project-model-container img{
        grid-row: 3/ span 4;
        grid-column: 5/span 6;
        height: 100%;
    }
}