.project-model-container{
    z-index: 100;
    width: 100%;   
}

.project-model-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.project-model-container h2{
    font-size: 70px;   
    text-align: center;
    font-weight: 300;
   color: black;
   margin-bottom: 10px;
}
.project-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-model-description{
    font-size: 20px;
    line-height: 40px;
    padding: 35px 40px;
    margin-left: 25px;
    background: black;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 120px;
}

.project-model-container img{
    height: 20vh;
    width: 30vh;
    grid-row: 2/span 2;
    grid-column:2/span 6;
    box-shadow: 0 4px 20px -6px #222;
     margin: 0px auto;
    margin-bottom: 120px;
}
.project-model-container-links{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    margin: 50px 0px;
}
.project-model-container-links a{
    display: block;
    color: black;
    background: white;
    border: 2px black solid;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    border-radius:10px;
    font-weight:500;
    cursor: crosshair;
}
.project-model-container-links a:hover{
   background: black;
   color: white;
}
.target-to-port{
    z-index: 500;
    display: flex;
    padding-left: 15px;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    background: black;
    color: white;
    height: 50px;
    width: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
}
.tech-list{
 margin: 50px 0px;
padding-left: 35px;
padding-right: 35px;
}
.tech-list h5{
    font-size: 15px;
    padding-left: 15px;
}
.carousel-tech{
    padding-top: 10px;
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
   align-items: center;

}
.tech-tools{
  margin: 0px 20px;
  font-size: 18px;
 background: black;
 color: white;
 padding: 8px;
 border-radius: 10px;
}

@media screen and (min-width:700px) {
    .project-model-container h2{
        font-size: 100px;   
    }
    .project-model-container img{
        height: 30vh;
        width: 50vh;
        box-shadow: 0 4px 20px -6px #222;
         margin: 0px auto;
        margin-bottom: 120px;
        cursor: crosshair;
    }
    .project-model-description{
        margin-left: 200px;
    }
    .project-model-container-links a{
        font-size: 20px;  
    }
    .target-to-port{
        height: 60px;
        width: 120px;
    }
}

@media screen and (min-width:1000px) {
    .project-model-container h2{
        font-size: 140px;   
    }
    .project-model-container img{
        height: 40vh;
        width: 70vh;
        box-shadow: 0 4px 20px -6px #222;
         margin: 0px auto;
        margin-bottom: 120px;
        transition: 1s ease;
    }
    .project-model-description{
        margin-left: 200px;
        font-size: 25px;
        line-height: 50px;
    }
    .project-model-container-links{
        margin-bottom: 200px;
    }
    .project-model-container-links a{
        font-size: 30px;  
    
    }
    .target-to-port{
        font-size: 25px;
        text-align: center;
        height: 80px;
        width: 220px;
    }
    .tech-list h5{
        font-size: 30px;
        padding-left: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .carousel-tech{
        padding-top: 10px;
       display: flex;
       overflow-y: hidden;
       overflow-x: scroll;
       align-items: center;
       justify-content: center;
       overflow: hidden;
    }
    
    .project-model-container img:hover{
        transform: scale(1.4);
        transition: 1s ease;
    }
}