.header-title {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}

.header-title img {
  z-index: 1;
  position: absolute;
  top: 250px;
  height: 350px;
  border-radius: 20px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-box-shadow: 0 4px 20px -6px #222;
          box-shadow: 0 4px 20px -6px #222;
}

.header-title h1 {
  font-size: 70px;
  font-weight: 300;
  color: black;
}

.header-title img:hover {
  cursor: crosshair;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.portfoilo-project-container {
  height: 100%;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .header-title img {
    z-index: 1;
    position: absolute;
    top: 230px;
    height: 500px;
    border-radius: 20px;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
  }
  .header-title h1 {
    margin-top: 60px;
    z-index: 4;
    font-size: 100px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1100px) {
  .header-title img {
    z-index: 1;
    position: absolute;
    top: 230px;
    height: 500px;
    border-radius: 20px;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
  }
  .header-title h1 {
    font-size: 100px;
    font-weight: 300;
  }
  .portfoilo-project-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.port-card {
  height: 500px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.port-card h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 15px 0px;
}

.port-image {
  width: 325px;
  height: 200px;
  margin: 15px 0px;
}

.port-card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.port-card a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 25px 0px;
  text-decoration: none;
  color: none;
  font-size: 20px;
  color: black;
}

.port-card i {
  margin: 0px 15px;
  font-size: 30px;
  color: #ca0101;
}

@media screen and (min-width: 800px) {
  .port-card {
    height: 600px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .port-card h3 {
    font-weight: 700;
    font-size: 50px;
    margin: 15px 0px;
  }
  .port-image {
    width: 500px;
    height: 300px;
    margin: 15px auto;
  }
  .port-card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0px;
  }
  .port-card a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 25px 0px;
    text-decoration: none;
    color: none;
    font-size: 25px;
    color: black;
  }
  .port-card i {
    margin: 0px 15px;
    font-size: 40px;
    color: #ca0101;
  }
}

.project-model-container {
  z-index: 100;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.project-model-container h2 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 30px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
  text-align: center;
  margin-top: 25px;
}

.project-model-container img {
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/span 6;
  -webkit-box-shadow: 0 4px 20px -6px #222;
          box-shadow: 0 4px 20px -6px #222;
  margin: auto;
}

.project-model-description {
  font-size: 15px;
  line-height: 25px;
  padding: 35px 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 /span 2;
}

.project-model-container-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-model-container-links a {
  display: block;
  color: black;
  background: white;
  border: 2px black solid;
  text-decoration: none;
  font-size: 15px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
}

.project-model-container-links a:hover {
  background: black;
  color: white;
}

.target-to-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  font-size: 14px;
  text-decoration: none;
  background: black;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 80px;
}

.tech-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/ span 8;
  -ms-grid-row: 7;
  grid-row: 7;
}

.tech-list h5 {
  font-size: 15px;
  padding-left: 15px;
}

.carousel-tech {
  padding-top: 10px;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-tools {
  margin: 0px 20px;
  font-size: 15px;
  background: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

@media screen and (min-width: 650px) {
  .project-model-container h2 {
    font-size: 50px;
  }
  .project-model-container img {
    margin-top: 15px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/span 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/span 4;
    width: 80%;
  }
  .project-model-container-links a {
    font-size: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  .project-model-description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/ span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    font-size: 20px;
    line-height: 30px;
  }
  .project-model-container-links {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/span 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tech-list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .target-to-port {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .project-model-container h2 {
    font-size: 70px;
  }
  .project-model-container img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2/span 4;
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5/span 6;
    height: 80%;
  }
  .project-model-description {
    margin-top: 15px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/ span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    font-size: 25px;
    line-height: 35px;
  }
  .project-model-container-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/span 4;
    -ms-grid-row: 7;
    grid-row: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tech-list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    -ms-grid-row: 6;
    grid-row: 6;
    padding-left: 30px;
  }
  .tech-list h5 {
    font-size: 23px;
    padding-left: 15px;
  }
  .carousel-tech {
    padding-top: 10px;
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 5px;
  }
  .tech-tools {
    font-size: 15px;
  }
  .target-to-port {
    font-size: 30px;
  }
}

@media screen and (min-width: 1300px) {
  .project-model-description {
    margin-top: 40px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/ span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
  }
  .tech-tools {
    font-size: 15px;
  }
  .project-model-container img {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3/ span 4;
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5/span 6;
    height: 100%;
  }
}

.about-me-title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-title h1 {
  font-size: 65px;
  font-weight: 300;
}

.scroll-down-alert {
  position: absolute;
  top: 89vh;
  letter-spacing: 2px;
  font-size: 20px;
}

.about-content-container {
  padding-top: 100px;
  height: 90vh;
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2em;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content-container img {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px;
  opacity: .7;
}

@media screen and (min-width: 900px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 100px;
    height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 20px;
    padding: 25px;
  }
  .about-content-container img {
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 0px;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 25px;
    padding: 25px;
  }
  .about-content-container img {
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 0px;
    height: 100vh;
    padding-left: 25px;
    padding-right: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 30px;
    padding: 25px;
  }
  .about-content-container img {
    height: 400px;
    width: 400px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */