.header-title {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}

.header-title img {
  z-index: 1;
  position: absolute;
  top: 250px;
  height: 350px;
  border-radius: 20px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-box-shadow: 0 4px 20px -6px #222;
          box-shadow: 0 4px 20px -6px #222;
}

.header-title h1 {
  font-size: 70px;
  font-weight: 300;
  color: black;
}

.header-title img:hover {
  cursor: crosshair;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.portfoilo-project-container {
  height: 100%;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .header-title img {
    z-index: 1;
    position: absolute;
    top: 230px;
    height: 500px;
    border-radius: 20px;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
  }
  .header-title h1 {
    margin-top: 60px;
    z-index: 4;
    font-size: 100px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1100px) {
  .header-title img {
    z-index: 1;
    position: absolute;
    top: 230px;
    height: 500px;
    border-radius: 20px;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
  }
  .header-title h1 {
    font-size: 100px;
    font-weight: 300;
  }
  .portfoilo-project-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.port-card {
  height: 500px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.port-card h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 15px 0px;
}

.port-image {
  width: 325px;
  height: 200px;
  margin: 15px 0px;
}

.port-card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.port-card a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 25px 0px;
  text-decoration: none;
  color: none;
  font-size: 20px;
  color: black;
}

.port-card i {
  margin: 0px 15px;
  font-size: 30px;
  color: #ca0101;
}

@media screen and (min-width: 800px) {
  .port-card {
    height: 600px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .port-card h3 {
    font-weight: 700;
    font-size: 50px;
    margin: 15px 0px;
  }
  .port-image {
    width: 500px;
    height: 300px;
    margin: 15px auto;
  }
  .port-card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0px;
  }
  .port-card a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 25px 0px;
    text-decoration: none;
    color: none;
    font-size: 25px;
    color: black;
  }
  .port-card i {
    margin: 0px 15px;
    font-size: 40px;
    color: #ca0101;
  }
}

.project-model-container {
  z-index: 100;
  width: 100%;
}

.project-model-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.project-model-container h2 {
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
}

.project-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-model-description {
  font-size: 20px;
  line-height: 40px;
  padding: 35px 40px;
  margin-left: 25px;
  background: black;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 120px;
}

.project-model-container img {
  height: 20vh;
  width: 30vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/span 6;
  -webkit-box-shadow: 0 4px 20px -6px #222;
          box-shadow: 0 4px 20px -6px #222;
  margin: 0px auto;
  margin-bottom: 120px;
}

.project-model-container-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
}

.project-model-container-links a {
  display: block;
  color: black;
  background: white;
  border: 2px black solid;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  cursor: crosshair;
}

.project-model-container-links a:hover {
  background: black;
  color: white;
}

.target-to-port {
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  background: black;
  color: white;
  height: 50px;
  width: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.tech-list {
  margin: 50px 0px;
  padding-left: 35px;
  padding-right: 35px;
}

.tech-list h5 {
  font-size: 15px;
  padding-left: 15px;
}

.carousel-tech {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-tools {
  margin: 0px 20px;
  font-size: 18px;
  background: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .project-model-container h2 {
    font-size: 100px;
  }
  .project-model-container img {
    height: 30vh;
    width: 50vh;
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
    margin: 0px auto;
    margin-bottom: 120px;
    cursor: crosshair;
  }
  .project-model-description {
    margin-left: 200px;
  }
  .project-model-container-links a {
    font-size: 20px;
  }
  .target-to-port {
    height: 60px;
    width: 120px;
  }
}

@media screen and (min-width: 1000px) {
  .project-model-container h2 {
    font-size: 140px;
  }
  .project-model-container img {
    height: 40vh;
    width: 70vh;
    -webkit-box-shadow: 0 4px 20px -6px #222;
            box-shadow: 0 4px 20px -6px #222;
    margin: 0px auto;
    margin-bottom: 120px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .project-model-description {
    margin-left: 200px;
    font-size: 25px;
    line-height: 50px;
  }
  .project-model-container-links {
    margin-bottom: 200px;
  }
  .project-model-container-links a {
    font-size: 30px;
  }
  .target-to-port {
    font-size: 25px;
    text-align: center;
    height: 80px;
    width: 220px;
  }
  .tech-list h5 {
    font-size: 30px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .carousel-tech {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .project-model-container img:hover {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.about-me-title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-title h1 {
  font-size: 65px;
  font-weight: 300;
}

.scroll-down-alert {
  position: absolute;
  top: 89vh;
  letter-spacing: 2px;
  font-size: 20px;
}

.about-content-container {
  padding-top: 100px;
  height: 90vh;
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2em;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content-container img {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px;
  opacity: .7;
}

@media screen and (min-width: 900px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 100px;
    height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 20px;
    padding: 25px;
  }
  .about-content-container img {
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 0px;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 25px;
    padding: 25px;
  }
  .about-content-container img {
    height: 300px;
    width: 300px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-title h1 {
    font-size: 100px;
  }
  .about-content-container {
    padding-top: 0px;
    height: 100vh;
    padding-left: 25px;
    padding-right: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-container p {
    line-height: 2em;
    font-size: 30px;
    padding: 25px;
  }
  .about-content-container img {
    height: 400px;
    width: 400px;
    margin: 0px;
    border-radius: 0px;
    opacity: .7;
    margin-top: 30px;
  }
}

footer {
  margin-top: 50px;
  bottom: 0px;
  height: 100%;
  padding-left: 15px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-infomation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.contact-infomation a {
  text-decoration: none;
  margin: 2px 0px;
  font-size: 14px;
  color: black;
}

.contact-container p {
  font-size: 14px;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.contact-links a {
  text-decoration: none;
  margin: 0px 3px;
  font-size: 15px;
  color: black;
}

.updated-date {
  margin: 40px 0px;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 800px) {
  footer {
    margin-top: 50px;
    bottom: 0px;
    height: 100%;
    padding-left: 50px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
  }
  footer a {
    cursor: crosshair;
  }
  footer a:hover {
    font-style: oblique;
    text-decoration: underline;
    cursor: crosshair;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-infomation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .contact-infomation a {
    text-decoration: none;
    margin: 5px 0px;
    font-size: 25px;
    color: black;
  }
  .contact-container p {
    font-size: 25px;
  }
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .contact-links a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 25px;
    color: black;
  }
  .updated-date {
    margin: 40px 0px;
    text-align: center;
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */