
.intro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    background: #14213d;
}
.intro--text{
    padding-top: 25px;
    font-size: 35px;
    text-align: center;
    font-weight: 200;
    color: #fca311;
}
.intro--name{
    margin: 25px 0px;
    font-size: 50px;
    color: #fca311;
    border: none;
}

.aboutme-container{
    font-weight: 200;
    line-height: 2em;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 5px #e5e5e5  solid;
    font-size: 40px;
    border-bottom-right-radius:100px ;
}

.nav-icon{
    position: fixed;
    top: -10px;
    left: -10px;
    font-size: 30px;
    background: rgb(255, 255, 255);
    padding:15px;
    color: rgb(65, 65, 65);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    border: 5px #14213d solid;
}
.nav{
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 000px;
    left: -400px;
    background: rgb(254, 254, 254);
    animation: navappear 1s;
    animation-fill-mode:forwards;
    color: black;
}

@keyframes navappear{
    0%{
        left: -400px;
    }
    100%{
        left: 0px;
    }
}

.nav-block-container{
    list-style: none;
    font-weight: 400;
    letter-spacing: 1px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.nav-block-container a{
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.nav-block-container li:first-child{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    background: rgb(161, 161, 255);
}


.nav-block-container li:nth-child(2){
    grid-column: 4/span 3;
    grid-row: 1/span 2;
    background: rgb(255, 220, 161);
}

.nav-block-container li:nth-child(3){
    grid-column: 1/span 3;
    grid-row: 3/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: rgb(255, 161, 161);
}

.nav-block-container li:nth-child(4){
    grid-column: 4/span 3;
    grid-row: 3/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: rgb(128, 206, 255);
}

.nav-block-container li:nth-child(5){
    grid-column: 1/span 6;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: rgb(208, 155, 255);
}
.nav-block-container li:nth-child(6){
    grid-column: 1/span 6;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 5px black solid;
    margin: 15px;
    cursor: pointer;
}

.second-about-container{
    font-weight: 300;
    font-size: 40px;
    line-height: 2em;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 20px;
    border-top:4px #e5e5e5  solid;
    border-left: 2px #e5e5e5 solid;
    background: #3e527c;
    border-top-left-radius:100px ;
}

.Portfilo{
    background: #14213d;
    padding-top: 75px;
    z-index: -1;
    overflow: hidden;
}
.Portfilo h1{
    font-size: 40px;
    margin-left: 125px;
    padding: 25px;
    background: #e5e5e5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 50px;
    color: #fa9c06;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.id-card{
    height: 350px;
    width: 240px;
    background-color: transparent;
    margin: 50px 50px;
    padding: 5px 5px;
    color: rgb(0, 0, 0);
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .id-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;

  }
  
  .flip-card-front {
    background-color: rgb(255, 245, 245);
    color: black;
    text-align: center;
  }

  .flip-card-front h5{
      font-size: 40px;
      margin-top: 25px;
      font-weight: 300;
  }

  .flip-card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
 /*  Id images*/
  .card-image{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-image-1{
      background: url('/images/weather.png');
      background-size: cover;
  }
  .card-image-2{
    background: url('/images/toby.png');
    background-size: cover;
  }

  .card-image-3{
    background: url('/images/harmony.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .card-image-4{
    background: url('/images/crashofcards.png');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card-image-5{
    background: url('/images/remind.png');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-image-6{
    background: url('/images/stand.png');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card-image-7{
    background: url('/images/tap.png');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }





.id-card h3{
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}
.id-card p{
    margin: 5px 0px;
    padding: 0px 15px;
    text-align: center;
}
.id-card a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    border-radius:25px ;
    border:2px black solid;
    margin: 25px auto;
    width: 80px;
    text-align: center;
}

.id-card a:hover{
    background: rgb(180, 180, 180);
}
.id-card h4{
    font-weight: 400;
    padding-top: 25px;
    padding-left: 25px;
    text-decoration: underline;
}
.id-card ul{
    padding-top: 5px;
    padding-left: 45px;
}
@media screen and  (min-width: 800px) {
    .intro{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 60px;
    }
    .intro--text{
        font-size: 50px;
    }
    .intro--name{
        font-size: 100px;
    }
    .nav-icon{
        font-size: 50px;
    }
    .nav{
        left: -1500px;
        background: rgb(254, 254, 254);
        animation: navappear 1s;
        animation-fill-mode:forwards;
        color: black;
    }
    
    @keyframes navappear{
        0%{
            left: -1500px;
        }
        100%{
            left: 0px;
        }
    }
.aboutme-container{
    font-size: 70px;
}
.second-about-container{
    font-size: 70px;
}


  .card-container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
 }
