.main-app{
    height: 100vh;
    background: url('https://media.giphy.com/media/NPH7DsTIbfvz7mdVKT/giphy.gif') no-repeat center;
    background-size: 600px 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.main-app h1{
    font-size: 200px;
    padding: 25px;
    
}

.main-app h1::selection{
    background: black;
    color: white;
}
.main-app p{
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    background: white;
}
.main-app p::selection{
    background: black;
    color: white;
}
.contact{
    display: flex;
    margin: 25px;
    justify-content: space-evenly;
    font-size: 100px;
    width: 100%;
    color: black;
}
.contact a{
    color: black;
}
.contact a:hover{
    color: rgb(133, 133, 133);
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .main-app{
        height: 100vh;
        background: url('https://media.giphy.com/media/NPH7DsTIbfvz7mdVKT/giphy.gif') no-repeat center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-app h1{
        font-size: 50px;
        padding: 25px;
        
    }
    .main-app p{
        font-weight: 600;
        text-decoration: underline;
        text-align: center;
    }
    
    .contact{
        display: flex;
        margin: 25px;
        justify-content: space-evenly;
        font-size: 50px;
        width: 100%;
        color: black;
    }
    .contact a{
        color: black;
    }
} 